.hero{
    background-image: url(https://creative-ishi.myshopify.com/cdn/shop/files/background-image_2d9e9dc9-1e97-4642-8004-eda373cb8e5c.png?v=1653970710);
    padding-bottom: 100px;
    nav{
        padding: 35px 0;
        .head-nav{
          .center{
           ul{
            display: flex;
            gap: 20px;
            list-style: none;
            li{
                a{
                    font-size: 15px;
                    color: $main_color;
                }
            }
           }
          }
          .right{
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 15px;
            i{
               font-size: 30px;
            }
          }
        }
    }
}
